# Node & Logs
/node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# System & Editor
.DS_Store
.vscode
.idea

# Git
.git
.gitignore

# Expo
.expo
.expo-shared
*.expo

# Misc
.env
*.log
*.keystore
*.jks
coverage
dist
build
/android' 
/ios'